@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensend&display=swap');
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #f3ad7c;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ff7f00, #33a2a6, #0fec07, #157c10);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0fec07, #079195, #076471, #157c10);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
h2{
    color: #31d2f2;
    font-family: 'Roboto Condensed', serif;
    font-style: italic;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}